.footer {
    background-color: #d5e5e7;
    padding: 10px 0;
    font-size: 16px;
}

.footer-img{
    height: 100px;
    width:100px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    max-width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-section p {
    margin: 5px 0;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #000;
}

.footer-bottom p {
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}