
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("https://res.cloudinary.com/dnf6tfgro/image/upload/v1728807314/bgimg_wh8nmr.jpg");
    width: 100%;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#headr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;
}


#logo {
    width: 160px;
    height: 100px;
    margin-right: 20px;
}


#nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-links a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

#name {
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
}


#search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

#search {
    margin-left: 10px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
}


@media (max-width: 768px) {
    #search-container {
        flex: 1;
    }

    #nav-links {
        flex-wrap: wrap;
    }

    #search {
        max-width: 150px;
    }
}


body {
    background-color: ghostwhite;
}

#all {
    display: flex;
    flex-wrap: wrap;

    padding: 20px;
}

.Recipe {
    border-radius: 19px;
    height: 400px;
    width: 300px;
    margin: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.Recipe:hover {
    transform: scale(95%);
    border-color: black;
    border-width: 1px;
}

.image {
    width: 100%;
    height: 200px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
    font-weight: bold;
    color: brown;
    margin-top: 10px;
}

.desc {
    color: teal;
    max-height: 100px;
    overflow-y: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;

    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #666;
}
